body {
  background-color: #0b2429;
}

.hey {
  position: absolute;
  left: 125px;
  top: 75px;
  width: 200px;
  height: 150px;
  background: #f3ac3c;
  box-shadow: -50px 0 0 0px #1a4341, inset 50px 0 0 0px #998235;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  
}
